# venv
venv/

# секреты
.env

# python мусор
__pycache__/
*.pyc
*.pyo

# тестовые файлы
data/

# chroma / данные векторной базы
chroma_db/

# IDE
.vscode/

# OS мусор
.DS_Store
Thumbs.db

# логи
*.log